body {
    margin: 20px;
    font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

.avatar {
    width: 150px;
    border: 10px solid #D4AFB9;
    border-radius: 50px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #d1cfe2;
    color: #2b2839;
    border-bottom: 6px solid #d8cefe;
    
    animation-name: example;
    animation-duration: 6s;
}

.border-blue {
    border: 1px dotted blue;
}

p:hover{
    color: red;
}

